<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Page Title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<script src="main.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="card mt-2 mb-2">
				<div class="card-body">
					<% dado.forEach(function(element){ %>
					<p><b>CEP :</b> <%= element.cep %></p>
          <p><b>Localidade (Cidade) :</b> <%= element.localidade %></p>
          <p><b>Bairro :</b> <%= element.bairro %></p>
					<p><b>Logradouro :</b> <%= element.logradouro %></p>
					<p><b>DDD :</b> <%= element.ddd %></p>
          <p><b>População :</b> <%= element.ibge %></p>
          <hr/>
					<% }) %>
				</div>
			</div>
			<a href="/" class="btn btn-outline-dark">Fazer uma nova busca</a>
		</div>
	</body>
</html>
